.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5rem;

  .searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 3rem auto 4rem;
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  

}
