$max-width: 1200px;
$border-radius: 8px;
$padding-1x: 8px;
$padding-2x: 16px;
$main-font: 'Roboto', sans-serif;
$main-font-size: 16px;

$white: #fff;
$black: #000;
$primary: #0071ff;
$secondary: #33A1FD;
$tertiary: #54d6ff;
$warning: #FDCA40;
$danger: #d1495b;
$gray: #31393c;
$light-gray: #ccc;
$text-color: #000;
$background-color: #fff;
