@import '@styles/Variables.module.scss';

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba($gray, 0.2);
    margin: 0 0 1rem;
    padding: 1rem;
    min-height: 170px;

    .cardContent {
        text-align: left;

        .title {
            font-size: 1.05rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}