@import '@styles/Variables.module.scss';

.navbar {
  background-color: $primary;
  color: $white;
  padding: $padding-2x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;

  .brand {
    color: $white;
    text-decoration: none;
  }
}
