@import '@styles/Variables.module.scss';

.navbar {
  background-color: $primary;
  color: $white;
  padding: $padding-2x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 2px 4px 0 rgba($black, 0.2);

  .brand {
    color: $white;
    text-decoration: none;

    h1 {
      font-size: 1.5rem;
    }
  }
}
